
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1553004560668'); /* IE9 */
  src: url('iconfont.eot?t=1553004560668#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAyQAAsAAAAAFjwAAAxAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFDgqcXJZqATYCJAM8CyAABCAFhG0HgS4bYBKjoqQyNpD9NcbG0OqJjrVr7tydLDPMMBUn1QBAUfKeUQpAAwAQiAQAgK8AAADQABJwkdiwBjJs2Wa2dUorEl+aakXoj8cYFEI3jwSHsEiEuiDM6z+21OzhqpCdv2TnVtMtQg64/ODDQ5avq/JVqkK2wnUyp0pJUQoMDE0HXKDfGJ8LeARgfaWvZJcwWMYhGnabf9rmv/tHHQgHVh1WPBGsIG0cGI0zcWtmBboEl5jrTlwW8V+3fXd/8pBLPIvCCOLImsQDPKnM0RtQYAx0/w80FZxaa/V1OkMounj7UH6o6fbf9/blBFlMLVnDQyaku1fHGs08JCiZkDqR2rFnv5WD7kU+MDAKM/H270wNBATztuXXy/unXI1CiBh1oKC5WoKjStLIWY0iZIEXsrn2LM4B4EV+P38IUwME3UE+r/eLce54mK+wY9DhhCuBrj8C4CUcIAG7clDAT1n1CxiYdyUdVBMxHwDm9cyfqwzDCbLGHsmNh3gJrvS+/v9P2XLpoDTP6dyciJBfBmpRUr7/5RmW54ATiE5QfncX6IxdDBI6VwyELhSDgC4jSNyAUIanwEADL4JBBF4GgwS8Cu04eB8MFPAZEMbGV2BggXsoBg//r9qrXwVUN8S8HA7k1AugH5DlSXZYguFmCWIpl5bXICFBz67fOg2q2dYoBfrUzNiHeut3r/X6zsRao3FTbZ57pF7yw8PDFuWfFy3fWp0Zm018hiGPjccGlSJcF0zVooKZRLmDPdiLIQoiOgmAKYzZDIRkGkV1jhA1VGiYMjYFKE8j5MGwiC2LWAiq7hisrKF0RJaeWhNMZKAXe+p/hQSG/7hkN/0N9wMfTT73Df5yymr4Heof+eua3finqXpytS8+DaEf+rLtuCGZKfZ3TIVOIJJhKdAxOn4acQmIEeEoorcDlANA4CAz59Fm3EBUXXJwmW0mPqc+6iBe4qZEbZBuFZI/eID+Cs2/v8lfJLYRFX9imgt3x37hkpPJdTkamSYwU/9qqeh2CWF2v65RcQ5POzhdhVoxvyK8PpS0+KJrjUioQpZGQ3qN3LG2SUfHR29VtiiHdAxh7xpGis06tW6TYqqiQ030qG1OFuSSYShVy3mvVLJGFlxY8PbVkL/zK1rN4wobl3xnE48TU8VEtbjM6C5cWcFrT1Zgo2urKoahGqBCEp5wT2yQHfk7Aqw7CM4lSRb2cJZpTNNRfSxW67WzzF3ikH0ftAfELCui2ysL2KFq8vL3TJZQbTvKPnovUMxUYj/dCJeXHDK2mbQPorrEdbXC4Q3WKFNxYAw2Z6pDe90QHy4q0idv52lST8mJDElrQcNz61+kFtyvxEwYay/68EZtTEvphMzg0BRYPTYkqatTu46XDJQbrctI4nPkR6aY+LocrG+WUn1LuudE1/kxTB1Q0Pn/hGEwvqlD4xK/DlpllKU+l04egI2FH12N7KojSxXFGP4U8QFBumf8yzYr8lnfHJq17VIjXoQGC6pTsiEqUqGa0umqNw4kWn/EZdmzi88GLPHsc8olUMOLAu1xmEsSujxIFAAsxNWJH9ZOF81rnyzIqZnC89nMIkgMpBmKErsikmp4zQbqQg5GeM2xVmrqTO27ovL80oXSXE/QG73gxR6MvD4P8l6++DQQny7MrtN316w0mgJY9eQzygGmpQRmk+78oCiKpwuhaTIBgGNtEDo/8zfkiRmpR9S1gUepcugAT48LWw2RQbEprwlvAAASRzGifXBWtrmJ7+0VzVZO+6Q+xWbI9Hm6LgKPt8KyTgnNgTVGtCG831/tnOlI6UmaJhnNn/icKpfStOQCj4mpl2fY1otCTx7xjYC8T3GD7GmYet4bZiA0E90A3GrRO9g17Bb6hiGZC4yxCL3yWPPMuDZCh+Dh8YH8sRT2ifuVVpUbNmitzJba+RSX1tJspdVbVFEFVK3gr2m3E9kdsA1SgPkTGmE7ZkQPGH4E7aQRy/cj7JaHCYx1Ba8pzI7nXII1YHXpdYJGLAyETB1ITx+42wYsZ5E2pNEyIjCCwlXZqPgUML5KGai0nAV8t8aFm4zMjXinKXxRE76R2YiIrHD3mHOTu6Nwi9eWwC3eW6Dje2z4re1eRBYpJ6wVCvC4SyOAGihwhTEN1gZCWZ9QDfqJJec+QTTIk2m/NVjJSX0o66N14MfTfjSLAQR/uDNtESUlispEiYkhUlFyYCqPj0vwuOch9JR6cFTumjyjmMR+CracV1HRM03Omc3OdiJcCYUvzsnqmzGzL4udXYsxQkp+E3NRXhZb3lI/c6achgNjZ97dgIz6NzPbzpphbZ1t3/8PGbXhrsHKM0tHt648NLxz9IKdF4LoS2/HRJh0bBKfzlc/cX0i4Otf8zhjF4cH3F5KC7qwc8HozuGHK2xoOq8sViuwDeMf1C/8HKC63/93wviVt+dAvxWAUH10zHyiKs2MeqwL7o+Cc2+veHkTA/17NZKnC6cf5HvagcHBSuH5A+4BkREeimxGucg10ZJjz1FYuspAGaMyNCQiMkB04LxUoASf3K2N9EY/mh99cyAmTf7BazRcDRT6adSp2oAJ0HHMuRmdyFz04mY4MUHeLAt2KfR36a2NvLLM24l2pNpdvbC0Etj79uUHCZkyg79NyrTYoQubJ/mdKRJSUKLyp50O6dOjxXxAX5sOHYV+P6SGHV7wsNl/pj6vFVZvnWlA65DNjfbFesqKbnQEsxV99Mh0o9adqh7kffQgJ8c5+5G43qluDeAkOCus1wZIKN6P/UGxI8icla8MQWLIWs8Anyh4uhv79gf0DBEjYF6Q2WdFrBzvOTBLiTUXoR2ebblJo/9TNeZBcW3xhTEqhDM6KbENgx0FfyMltsee1DPmW0CxIWjlK2QOduRP1lujaTTnx1Muykw2NksOkfxR/F5tT/PnrGrMsLt+GDYxZaZM8kN5TQIWz40JB+EBaxeD4GfK15zMlaDHZ/Cb3WY+1M1TTJ2AkGTo6szE0tdVPu2KXDLdJa2mLtlVyV+lJJPJ6jrXNDI9V+HTXpUFIh8tZ97H59F3mE4syrHn2OcvOmHaTZ+FMO5a3rUHm3HRInSRCI9lihxRRxFzM9OMKx9Yugu/9ust36NV58+jzPs29xfBCxe0cICs//pN6JZEQanuIPrwjL2LzX7rkmQ3Nt1wfPwbSuwjrqyJYEWsuRbkjJiA4JEr8cjIXsc2Pqpzkc+dq3AhwoFunyN+Dl9ny4k4tXPnZjP27ZyhOkfpxu9b32d2o+gMfLBK1s2VHouvHLnKr94Qo9whZhvzSPN/yP47CJhKVbvxni/mTmo5kTHs99Ke36VMcye+2ojTtbjMFtDyxXKFpaXNiwXykqIjj2bFzY7rjDOC/+VFig1DN8sFg6aATNj7+NhqyCmXg70RmdiLplzrQdogvcwX1NQmzPJ/UJxyu+S/BGt8sMtRENwWiFw80sKYmioKk6WkzrIXOsxOSZk0tD41ZbaD9MrMBYfVapaOTTgBCx16jlhA3He7ZEE4EmwmpFaBCKQDLrl1a4ljgtgCl0T9ZUuw/X/+7GcmjG3B9rMpBRo214nLPoSq+IekNInBs0EGDbY0vAm0/wPU1EH0uXQ2Ef0DgCPif/HJqg50A9LnoWvFItHjALirQJ5G5kF4CIoz58APMC/zodwPhV2PZR4k6yITCrgu90Eb+hB0d0xXJ2JpkV9b3e87/F/0xN+XfTMbB3eB/jrhCIQ4E839UVdznfo2EF/rc/VtbU/Z1SfUJQAhmndXrBv2N55lrLbulmwZi4BgzQHJWZUq5S7Qoj1gOPsg2HEVPhqhFbE8gG2fBqDmGwjFD5CaH6lS/gJt3D8wWoogeMwwxmg92DjTQA2MyWhJkKmEizLT8Ec/gLAR1XGDzHgBnWEr8R0v3XsFCeg+/GQzERjDCdcqJpfG2SCKFEm1mgAzjjQm3XVdrvLrMBXnGo5pgDJuwTFiZKmKGCXB9zYama9/AAQrQumSRb9UXwAtg6cnfA6vhvSKTmotOpeJmRkhYBjhiD1TU2LEJSMg4l0KkaqdTQDGcMgWHaldLtuM16Wd8S2xvlugiUvQvdYISipqGlo6egZGJmYWVjYUT5VWVhghVZVUqgSCUgyJbVOLOwd1lzsxxagwnVbmgAtMhpliSCOBRtqRsibCBCrGIpO2LFUMfm0lIRGZtJVFd5SNSgpzuRUl2FwOAAAA') format('woff2'),
  url('iconfont.woff?t=1553004560668') format('woff'),
  url('iconfont.ttf?t=1553004560668') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1553004560668#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e608";
}

.icon-ziliao:before {
  content: "\e60a";
}

.icon-phone2:before {
  content: "\e606";
}

.icon-menu:before {
  content: "\e63f";
}

.icon-aui-icon-mail:before {
  content: "\e619";
}

.icon-qq:before {
  content: "\e646";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-socialgithuboutline:before {
  content: "\e8a1";
}

.icon-tuichu:before {
  content: "\e668";
}

.icon-home1:before {
  content: "\e610";
}

.icon-zhengshu:before {
  content: "\e620";
}

.icon-xiaoxi:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e60d";
}

.icon-xinxi:before {
  content: "\e624";
}



*{ margin: 0; padding: 0; box-sizing: border-box; font-size: .6rem; font-family: Arial}
html,body{height: 100%;}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
li{list-style: none;}
a{text-decoration: none; color: #333}
header{height: 2rem; line-height: 2rem; background: #1a3550}
header span{float: right; height: 100%; line-height: 2rem; color: #fff; text-align: center; width: 3rem; cursor: pointer; font-size: .6rem}
header span.active{ background: #e0c246;}
header span:hover{ background: #e0c246;}
img{max-width: 100%; display: block}
.relative{position: relative;}
.logo{  float: left;width: 4rem; height: 100%; padding:5px 10px; }
nav ul{ float: right;}
nav ul li{ float: left; padding:  0 20px; height: 100%; font-size: .6rem}
.container{ width: 80%; margin: 0 auto}

  .heimu{ height: 100%; width: 100%; background: rgba(0,0,0,.2); position: fixed; left: 0; top: 0; display: none}

  .menu_list i{ font-size: 1rem; color: #fff}
  
  nav .logo{ padding: 0.5rem; height: 4rem;}
   .logo img{ height: 100%}
  nav ul{ background: #1a3550; width: 40%; position: absolute; right:0;box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1); display: none; z-index: 11}
  nav ul li{width: 100%; border-bottom: 1px #ddd solid; height:2.5rem; line-height: 2.5rem; font-size: .6rem}
  nav ul li a{display: block; height: 100%; width: 100%;color: #fff}
  .banner{min-height: 8rem; padding-top: 2rem;    background-size: 100% 100%;}
  .container{ width: 100%;}
  .indexUl{ padding:1rem 0; width: 100%; display: inherit; overflow: hidden; background: #e0c246}
  .indexUl li{width:33%;  float: left; text-align: center; }
  .indexUl li .img{ width: 2rem; height: 2rem; display: block; margin: 0 auto;}
  .indexUl li:nth-of-type(1) .img{  background: url(../images/icon_02.png) no-repeat; background-size: contain}
  .indexUl li:nth-of-type(2) .img{  background: url(../images/icon_04.png) no-repeat; background-size: contain}
  .indexUl li:nth-of-type(3) .img{  background: url(../images/icon_06.png) no-repeat; background-size: contain}
  .indexUl li p{ font-size: .7rem}
  .indexUl li.active{ color: #fff;}
  .indexUl li.active:nth-of-type(1) .img{ background: url(../images/icon_02_b.png) no-repeat; background-size: contain}
  .indexUl li.active:nth-of-type(2) .img{ background: url(../images/icon_04_b.png) no-repeat; background-size: contain}
  .indexUl li.active:nth-of-type(3) .img{ background: url(../images/icon_06_b.png) no-repeat; background-size: contain}
  .about{ padding: 1rem;}
  .about .tt{ font-size: .8rem}
  .about p{font-size: .7rem; line-height: 1.5rem ;margin-bottom: 1rem;}
  .serchBox{ margin: 1rem auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1); }

    .serchCon{margin: 1rem auto; width: 90%;    background: #f7f7f7;
      box-shadow: 0 0 20px rgba(0,0,0,.1); 
    }
  .serchBox input{ width: 9rem; height: 2rem; float: left;
    margin-right: 20px;
    line-height: 2rem;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
.serchBox .head {
  border-bottom: 1px #666 solid;
  padding-bottom: 20px;
  font-size: 18px;
}
.serchBox p.title {
  padding: 20px 10px;
  color: #1a3550;
  font-size: 18px;
}
.serchBox table {
  border-collapse: collapse;
  width: 100%;
}
.serchBox table tr td:first-child {
  background: #e0c246;
  color: #fff;
  text-align: center;
}
.serchBox table td {
  padding: .5rem;
}
  .serchBox button{ width: 3.5rem;height: 2rem; line-height: 2rem;
    float: left;
    background: #e0c246;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
  .tixi_con p{ margin-bottom: 1rem;}
  .tiaojian ul{ display: inherit}
  .tiaojian li{ width: 90%; margin: 1rem auto; height: auto; padding-top: 181px}
  .tiaojian li .con{ padding: 1rem; font-size: .6rem; z-index: 1; position: static;}
  .serchBox{ padding: 1rem;}
  .serchBox table tr td:first-child{ width: 5rem;}
  .serchBox table tr td{font-size: .6rem}
  .serchBox .head span{ font-size: .6rem}

  .userCenter{width: 100%; padding: 0;}
  .ucenter_menu {width: 100%; background: #e9e7e8; overflow: hidden; margin-bottom: 1rem;}
  .ucenter_menu li{ width: 50%; float: left; text-align: center; height: 3rem;padding-top: .5rem;}
  .ucenter_menu li a{color: #25447b}
  .ucenter_menu li.active{ background: #e0c246; color: #fff}
  .ucenter_menu li.active a{ background: #e0c246; color: #fff}
  .left_box{ width: 100%; overflow: hidden; }
  .right_box .box{ padding: .5rem;}
  .right_box td{font-size: .6rem}
  .left_box .headImg {
      width: 30%;
      margin: 1rem ;
      float: left;
      border:.5rem #eee solid
  }
  .left_box .userInfo{ margin-left: 45%; margin-right: 10%; padding-top: 2rem; line-height: 2rem; }
  .userInfo p{ border-bottom:1px #ddd dashed; width: 100%; font-size: .7rem}
  .tixi_con{ padding: 1rem; width: 90%; margin: 0 auto; top: -1rem}
  .m_head{ background: #fff;
    width: 90%;
    margin: 1rem auto 0;display: block; padding:1rem; overflow: hidden;}
  .m_head img{ height: 2.5rem; width:  2.5rem; border-radius: 50%; margin-right: .5rem; float: left;}
  .m_head span{ float: left; text-align: center; font-size: .6rem; }
  .m_head span p{ background: #3a6ea2; border-radius:3px; padding: 2px 8px; font-size: .5rem;color: #fff; margin-top: .5rem;}
  .login-page{width: 90%; margin: 0 auto; margin-top: 2rem;}
  .login-form, .register-form{ padding: 1rem;}
 

.bigTitle{ width: 70%; margin: 1rem auto; text-align: center; border-bottom: 2px #666 solid; padding: .55rem;}
.bigTitle span{ padding: .5rem 2rem; border-bottom:4px #e0c246 solid; margin-bottom: -2px; font-size: .8rem}
.index_con{text-align: center}
.index_tab img {width: 90%; margin: 0 auto}
.index_con p{ text-align: left; font-size: .7rem; padding: 0 1.5rem; line-height: 1.5rem; color: #666}
.index_con p.t{text-align: center; font-size: .8rem; color: #000; text-indent: 0;}
.index_con p b{ line-height: 1rem;}

.newslist li {
  border-bottom: 1px #ddd dashed;
  font-size: .7rem;
  padding: .5rem;
  padding-left: 3rem;
  text-align: left;
  background: url(../images/index_m_07.png) no-repeat .5rem center ; background-size: 2rem 1rem
}
.b_tt{ position: absolute; bottom:0; right: 0; padding: .5rem; background: rgba(26,53,80,0.7); color: #fff !important; text-align: right !important; width: 100%; padding-right: .5rem;}
.index_contact dd{ width: 100%; color: #fff; padding: .5rem 0; text-align: left}
.index_contact{ background: #1a3550;overflow: hidden;}
.index_contact dd p{ color: #fff}
.index_contact dd a{ color: #fff}

.login-form, .register-form {
  padding: 1rem;
}
.login-page input {
  height: 2rem;
  line-height: 2rem;
  clear: both;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 20px;
  background: rgba(26,53,80,0.5);
  color: #fff;
  border-radius: 2rem;
  border: none
}
.login-page input::-webkit-input-placeholder{
  color:#fff;
}
.login-page input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#fff;
}
.login-page input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#fff;
}
.login-page input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#fff;
}

.register-form {
  display: none;
}
.btn {
  padding: .5rem 1rem;
  font-size: .7rem;
  color: #fff;
  border-radius: 1rem;
  background: #e0c246;
  border: none;
  min-width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}
.sbtn {
  padding: .5rem 1rem;
  font-size: .7rem;
  color: #fff;
  border-radius: 1rem;
  background: #e0c246;
  border: none;
 margin: 0 auto;
 width: 4rem;
  cursor: pointer;
  display: block;
  margin-top: 1rem;
}

.message{ color: #fff; text-align: center; padding: 1rem;}
.message a{color: #fff}

.right_box p.title{ padding: .5rem; background: #eee; margin: .5rem 0; font-size: .7rem}
.right_box table{border-collapse: collapse;}
.right_box table td{ border-bottom: 1px #666 solid; padding: .5rem;}
.right_box table tr td:first-child{ border-right: 1px #666 solid; width: 50%;}
.messageP{ padding-left: 1rem; border-top: 1px #ddd solid; padding-top: .5rem; margin-top: .4rem;}
.messageUl li{  background: url(../images/mail_03.jpg) no-repeat .2rem center; padding: 1rem 0;padding-left: 2rem; border-bottom: 1px #ddd dashed;}
.right_box .myInfo td{ border: none !important}



.aboutTest {padding: 1rem;}
.aboutTest dt{ font-size: .7rem; text-align: left; padding-bottom: .5rem;}
.aboutTest dd{ background: #f1f1f1; padding: .5rem; line-height: 1.5rem; text-align: left}