
@font-face {
  font-family: 'iconfont';  /* project id 941012 */
  src: url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.eot');
  src: url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.woff') format('woff'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e608";
}

.icon-ziliao:before {
  content: "\e60a";
}

.icon-phone2:before {
  content: "\e606";
}

.icon-menu:before {
  content: "\e63f";
}

.icon-aui-icon-mail:before {
  content: "\e619";
}

.icon-qq:before {
  content: "\e646";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-socialgithuboutline:before {
  content: "\e8a1";
}

.icon-tuichu:before {
  content: "\e668";
}

.icon-home1:before {
  content: "\e610";
}

.icon-zhengshu:before {
  content: "\e620";
}

.icon-xiaoxi:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e60d";
}

.icon-xinxi:before {
  content: "\e624";
}



*{ margin: 0; padding: 0; box-sizing: border-box; font-size: .6rem; font-family: Arial}
html,body{height: 100%;}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
li{list-style: none;}
a{text-decoration: none; color: #333}
header{height: 2rem; line-height: 2rem; background: #1a3550}
header span{float: right; height: 100%; line-height: 2rem; color: #fff; text-align: center; width: 3rem; cursor: pointer; font-size: .6rem}
header span.active{ background: #e0c246;}
header span:hover{ background: #e0c246;}
img{max-width: 100%; display: block}
.relative{position: relative;}
.logo{  float: left;width: 4rem; height: 100%; padding:5px 10px; }
nav ul{ float: right;}
nav ul li{ float: left; padding:  0 20px; height: 100%; font-size: .6rem}
.container{ width: 80%; margin: 0 auto}

  .heimu{ height: 100%; width: 100%; background: rgba(0,0,0,.2); position: fixed; left: 0; top: 0; display: none}

  .menu_list i{ font-size: 1rem; color: #fff}
  
  nav .logo{ padding: 0.5rem; height: 4rem;}
   .logo img{ height: 100%}
  nav ul{ background: #1a3550; width: 40%; position: absolute; right:0;box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1); display: none; z-index: 11}
  nav ul li{width: 100%; border-bottom: 1px #ddd solid; height:2.5rem; line-height: 2.5rem; font-size: .6rem}
  nav ul li a{display: block; height: 100%; width: 100%;color: #fff}
  .banner{min-height: 8rem; padding-top: 2rem;    background-size: 100% 100%;}
  .container{ width: 100%;}
  .indexUl{ padding:1rem 0; width: 100%; display: inherit; overflow: hidden; background: #e0c246; position: relative;}
  .indexUl li{width:33%;  float: left; text-align: center; }
  .indexUl li .img{ width: 2rem; height: 2rem; display: block; margin: 0 auto; background-position: center center}
  .indexUl li:nth-of-type(1) .img{  background: url(../images/icon_02.png) no-repeat; background-size: contain}
  .indexUl li:nth-of-type(2) .img{  background: url(../images/icon_04.png) no-repeat; background-size: contain}
  .indexUl li:nth-of-type(3) .img{  background: url(../images/icon_06.png) no-repeat; background-size: contain}
  .indexUl li p{ font-size: .7rem}
  .indexUl li.active{ color: #fff;}
  .indexUl li.active:nth-of-type(1) .img{ background: url(../images/icon_02_b.png) no-repeat; background-size: contain}
  .indexUl li.active:nth-of-type(2) .img{ background: url(../images/icon_04_b.png) no-repeat; background-size: contain}
  .indexUl li.active:nth-of-type(3) .img{ background: url(../images/icon_06_b.png) no-repeat; background-size: contain}
  .about{ padding: 1rem;}
  .about .tt{ font-size: .8rem}
  .about p{font-size: .7rem; line-height: 1.5rem ;margin-bottom: 1rem;}
  .serchBox{ margin: 2rem auto 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,.1); }

    .serchCon{margin: 1rem auto; width: 90%;    background: #f7f7f7;
      box-shadow: 0 0 20px rgba(0,0,0,.1); 
    }
  .serchBox input{ width: 9rem; height: 2rem; float: left;
    margin-right: 20px;
    line-height: 2rem;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
.serchBox .head {
  border-bottom: 1px #666 solid;
  padding-bottom: 20px;
  font-size: 18px;
}
.serchBox p.title {
  padding: 20px 10px;
  color: #1a3550;
  font-size: 18px;
}
.serchBox table {
  border-collapse: collapse;
  width: 100%;
}
.serchBox table tr td:first-child {
  background: #e0c246;
  color: #fff;
  text-align: center;
}
.serchBox table td {
  padding: .5rem;
}
  .serchBox button{ width: 3.5rem;height: 2rem; line-height: 2rem;
    float: left;
    background: #e0c246;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
  .tixi_con p{ margin-bottom: 1rem;}
  .tiaojian ul{ display: inherit}
  .tiaojian li{ width: 90%; margin: 1rem auto; height: auto; padding-top: 181px}
  .tiaojian li .con{ padding: 1rem; font-size: .6rem; z-index: 1; position: static;}
  .serchBox{ padding: 1rem;}
  .serchBox table tr td:first-child{ width: 5rem;}
  .serchBox table tr td{font-size: .6rem}
  .serchBox .head span{ font-size: .6rem}

  .userCenter{width: 100%; padding: 0;}
  .ucenter_menu {width: 100%; background: #e9e7e8; overflow: hidden; margin-bottom: 1rem;}
  .ucenter_menu li{ width: 50%; float: left; text-align: center; height: 3rem;padding-top: .5rem;}
  .ucenter_menu li a{color: #25447b}
  .ucenter_menu li.active{ background: #e0c246; color: #fff}
  .ucenter_menu li.active a{ background: #e0c246; color: #fff}
  .left_box{ width: 100%; overflow: hidden; position: relative; }
  .right_box .box{ padding: .5rem;}
  .right_box td{font-size: .6rem}
  .left_box .headImg {
      width: 30%;
      margin: .5rem ;
      float: left;
      border:.3rem #eee solid
  }
  .left_box .userInfo{ margin-left:35%;  padding-top: .7rem; line-height: 1.5rem; }
  .userInfo p{ border-bottom:1px #ddd dashed; width: 100%; font-size: .6rem}
  .tixi_con{ padding: 1rem; width: 90%; margin: 0 auto; top: -1rem}
  .m_head{ background: #fff;
    width: 90%;
    margin: 1rem auto 0;display: block; padding:1rem; overflow: hidden;}
  .m_head img{ height: 2.5rem; width:  2.5rem; border-radius: 50%; margin-right: .5rem; float: left;}
  .m_head span{ float: left; text-align: center; font-size: .6rem; }
  .m_head span p{ background: #3a6ea2; border-radius:3px; padding: 2px 8px; font-size: .5rem;color: #fff; margin-top: .5rem;}
  .login-page{width: 90%; margin: 0 auto; margin-top: 2rem;}
  .login-form, .register-form{ padding: 1rem;}
 

.bigTitle{ width: 70%; margin: 1rem auto; text-align: center; border-bottom: 2px #666 solid; padding: .55rem;}
.bigTitle span{ padding: .5rem 2rem; border-bottom:4px #e0c246 solid; margin-bottom: -2px; font-size: .8rem}
.index_con{text-align: center}
.index_tab img {width: 90%; margin: 0 auto}
.index_con p{ text-align: left; font-size: .7rem; padding: 0 1.5rem; line-height: 1.5rem; color: #666}
.index_con p.t{text-align: center; font-size: .8rem; color: #000; text-indent: 0;}
.index_con p b{ line-height: 1rem;}

.newslist li {
  border-bottom: 1px #ddd dashed;
  font-size: .7rem;
  padding: .5rem;
  padding-left: 3rem;
  text-align: left;
  background: url(../images/index_m_07.png) no-repeat .5rem center ; background-size: 2rem 1rem
}
.b_tt{ position: absolute; bottom:0; right: 0; padding: .5rem; background: rgba(26,53,80,0.7); color: #fff !important; text-align: right !important; width: 100%; padding-right: .5rem;}
.index_contact dd{ width: 100%; color: #fff; padding: .5rem 0; text-align: left}
.index_contact{ background: #1a3550;overflow: hidden;}
.index_contact dd p{ color: #fff}
.index_contact dd a{ color: #fff}

.login-form, .register-form {
  padding: 1rem;
}
.login-page input {
  height: 2rem;
  line-height: 2rem;
  clear: both;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 20px;
  background: rgba(26,53,80,0.5);
  color: #fff;
  border-radius: 2rem;
  border: none
}
.login-page input::-webkit-input-placeholder{
  color:#fff;
}
.login-page input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#fff;
}
.login-page input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#fff;
}
.login-page input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#fff;
}

.register-form {
  display: none;
}
.btn {
  padding: .5rem 1rem;
  font-size: .7rem;
  color: #fff;
  border-radius: 1rem;
  background: #e0c246;
  border: none;
  min-width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}
.sbtn {
  padding: .5rem 1rem;
  font-size: .7rem;
  color: #fff;
  border-radius: 1rem;
  background: #e0c246;
  border: none;
 margin: 0 auto;
 width: 4rem;
  cursor: pointer;
  display: block;
  margin-top: 1rem;
}

.message{ color: #fff; text-align: center; padding: 1rem;}
.message a{color: #fff}

.right_box p.title{ padding: .5rem; background: #eee; margin: .5rem 0; font-size: .7rem}
.right_box table{border-collapse: collapse;}
.right_box table td{  padding: .5rem;}
.messageP{ padding-left: 1rem; border-top: 1px #ddd solid; padding-top: .5rem; margin-top: .4rem;}
.messageUl li{  background: url(../images/mail_03.jpg) no-repeat .2rem center; padding: 1rem 0;padding-left: 2rem; border-bottom: 1px #ddd dashed;}
.right_box .myInfo td{ border: none !important}



.aboutTest {padding: 1rem;}
.aboutTest dt{ font-size: .7rem; text-align: left; padding-bottom: .5rem;}
.aboutTest dd{ background: #f1f1f1; padding: .5rem; line-height: 1.5rem; text-align: left}

.inputRight{ position: absolute; right: 15px; top:17px}
.input{ height: 35px; line-height: 35px; width: 100%;}
.register-form ul{ width: 100%; text-align: center}
.register-form li{ display: inline-block ;height: 50px;
  cursor: pointer;
  line-height: 50px;
  clear: both;
  margin-bottom: 30px;
  padding:0 20px;
  
  color: #fff;
  border: none;
  border-radius: 50px;}
  .register-form  .active{background: rgba(26,53,80,.3);}
  .getCode{ position: absolute; top: 0; right: 20px; line-height: 50px; color: #fff; cursor: pointer;} 
  .tabType{ display: none; position: relative;}
  a.blue{ background: none; color: #09f}
  .centerUpload{ width: 40%; height:85%;top: .5rem; background: red; position: absolute; opacity: 0;}